{% extends "main.html" %}
{% set pageTitle = "My Account" %}
{% set pageDescription = "View account details" %}

{% block content %}

<!-- Page Content -->

<div class="row">

<div class="sidebar col-sm-4" id="sidebar-affix" data-spy="affix">
<h2>Welcome,<br>{{ UserName }}</h2>

{% if HasFutureEvents or HasPastEvents %}

<br>
<div style="font-size:16px">You have participated in <span id="accountEventNum"></span> <span class="">Ride Match</span> events.</div>

<br>

<div class="eventCount participatedEvents">
<h4>Attended</h4>
<span id="accountParticipatedNum"></span>
</div>

<div class="eventCount hostedEvents">
<h4>Hosted</h4>
<span id="accountHostedNum"></span>
</div>

<br>

{% endif %}

<br><br>
<a class="btn btn-default" href="/create">Create New Event</a>
</div>

<div class="event-wrap col-sm-8 col-sm-offset-4">
<h2>Upcoming Events</h2>

{% if not HasFutureEvents %}
    <h3>No upcoming events. <a href="/create">Create a new event?</a></h3>
{% endif %}

{% for event in FutureGuestEvents %}
<div class="media well event guestEvent">
  <a class="pull-left" href="#">
    <img class="media-object event-icon" src="assets/images/car.png" alt="eventType">
  </a>
  <div class="media-body">
    <div class="hidden eventName">{{ event.name }}</div>
    <div class="hidden hostName">{{ event.host.nickname }}</div>
    <h4 class="media-heading">{{ event.name.title() }}</h4>
    You signed up for a ride share to <b>{{ event.eventLocation.streetAddress }}</b>,
     departing on <b>{{ event.departureTime }}</b> and returning on <b>{{ event.returnTime }}</b>.
    <br><br>
    
    <div class="btn-group">
  		<button type="button" class="btn btn-default view-carpool-button">View Car Pool</button>
      <button type="button" class="btn btn-default change-info-button">Edit My Info</button>
  		<button type="button" class="btn btn-default leave-event-button">Leave Event</button>
	</div>
  <a class="btn btn-default pull-right invitationButton" href="/signup{{ event.urlsuffix }}">Send Invitations</a>

  <div class="change-info-pane hidden">
    <div class="radio">
    <label><input type="radio" name="canDrive" id="canDrive" value=true checked>I can drive.</label>
  </div>
  <div class="radio">
      <label><input type="radio" name="canDrive" id="isPassenger" value=false checked>I will need a ride.</label>
  </div>

  <div id="canDriveInfo">
    <div class="form-group">
        <label for="totalSeats">Total Seats</label>
        <input type="number" class="form-control" id="totalSeats" placeholder="Enter total seats">
      </div>
    <div class="form-group">
        <label for="seatsAvailable">Seats Available</label>
        <input type="number" class="form-control" id="seatsAvailable" placeholder="Enter seats available">
      </div>
      <div class="form-group">
        <label for="gasMileage">Gas Mileage</label>
        <input type="number" class="form-control" id="gasMileage" placeholder="Enter gas mileage">
      </div>
  </div>
  </div><!-- /change-info-pane -->


  </div>

</div>
{% endfor %}

{% for event in FutureHostedEvents %}
<div class="media well event hostEvent">
  <a class="pull-left" href="#">
    <img class="media-object event-icon" src="assets/images/create.png" alt="eventType">
  </a>
  <div class="media-body">
    <div class="hidden eventName">{{ event.name }}</div>
    <div class="hidden hostName">{{ event.host.nickname }}</div>
    <h4 class="media-heading">{{ event.name.title() }}</h4>
    You are the coordinator for a ride share to <b>{{ event.eventLocation.streetAddress }}</b>,
     departing on <b>{{ event.departureTime }}</b> and returning on <b>{{ event.returnTime }}</b>.
    <br><br>
    <div class="btn-group">
      <button type="button" class="btn btn-default view-carpool-button">View Car Pool</button>
  		<button type="button" class="btn btn-default edit-event-button">Edit Event</button>
  		<button type="button" class="btn btn-default cancel-event-button">Cancel Event</button>
	   </div>
     <a class="btn btn-default pull-right invitationButton" href="/signup{{ event.urlsuffix }}">Send Invitations</a>
  </div>

  <div class="edit-pane hidden">
    <h4>Edit event details:</h4>
    <div role="form">
  <div class="form-group">
    <label for="eventName">Event Title</label>
    <input type="text" class="form-control input-eventName" value="{{ event.name.title() }}">
  </div>
  <div class="form-group">
    <label for="departureLocation">Where are you leaving from?</label>
    <input type="text" class="form-control input-departureLocation" value="{{ event.departureLocation.streetAddress }}">
  </div>
  <div class="form-group">
    <label for="eventLocation">Where are you headed?</label>
    <input type="text" class="form-control input-eventLocation" value="{{ event.eventLocation.streetAddress }}">
  </div>
  <div class="form-group">
    <div class="form-inline">
      <label for="eventDepartureTime">Departure Date & Time:</label>
      <input type="text" class="datetimepicker form-control input-eventDepartureTime" value="{{ event.departureTime }}">
      <br><br>
      <div class="form-inline">
      <label for="eventReturnTime">Return Date & Time:</label>
      <input type="text" class="datetimepicker form-control input-eventReturnTime" value="{{ event.returnTime }}">
    </div>
    </div>
  </div>

  <div class="event-pane hidden">
    {% for carpool in carpools %}
    <ul>
      <li><h4>{{ carpool.driver }}</h4></li>
      {% for passenger in carpool.passengers %}
        <li>{{ passenger }}</li>
      {% endfor %}
    <ul>
    {% endfor %}
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default edit-event-done-button">Done</button>
  </div>
</div>
  </div>
</div>
{% endfor %}

{% if HasPastEvents %}
<hr>
<h2>Past Events</h2>

{% for event in PastGuestEvents %}
<div class="media well event guestEvent">
  <a class="pull-left" href="#">
    <img class="media-object event-icon" src="assets/images/car.png" alt="eventType">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{ event.name.title() }}</h4>
    You are participating in a ride share to <b>{{ event.eventLocation.streetAddress }}</b>,
     departing on <b>{{ event.departureTime }}</b> and returning on <b>{{ event.returnTime }}</b>.
    <br><br>
  		<button type="button" class="btn btn-default remove-event-button">Remove Event</button>
	<button type="button" class="btn btn-default pull-right event-details-btn">View Details</button>
  </div>

</div>
{% endfor %}

{% for event in PastHostedEvents %}
<div class="media well event hostEvent">
  <a class="pull-left" href="#">
    <img class="media-object event-icon" src="assets/images/create.png" alt="eventType">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{ event.name.title() }}</h4>
    You created a ride share to <b>{{ event.eventLocation.streetAddress }}</b>,
     which departed on <b>{{ event.departureTime }}</b> and returned on <b>{{ event.returnTime }}</b>.
    <br><br>
  		<button type="button" class="btn btn-default delete-event-button">Delete Event</button>
	<button type="button" class="btn btn-default pull-right event-details-btn">View Details</button>
  <br>
  </div>
</div>
{% endfor %}
{% endif %}

</div> <!-- /row -->

{% endblock %}

{% block foot %}

<script type="text/javascript" src="assets/scripts/account.js"></script>

{% endblock %}
