@charset "UTF-8";
/* CSS Document */

/* Fonts */

@font-face { font-family: Lobster; src: url('fonts/Lobster.otf'); }
@font-face { font-family: Bebas; src: url('fonts/BebasNeueRegular.otf'); }
@font-face { font-family: BebasBold; src: url('fonts/BebasNeueBold.otf'); }
@font-face { font-family: BebasThin; src: url('fonts/BebasNeueThin.otf'); }

.bebas {font-family: 'Bebas';}
.bebasBold {font-family: 'BebasBold';}
.bebasThin {font-family: 'BebasThin';}
.lobster {font-family: 'Lobster';}

.center {text-align:center;}
.floatLeft {float:left;}
.floatRight {float:right;}
.left {text-align:left;}
.right {text-align:right;}
.pagination-centered {margin-left:0 auto;margin-right:0 auto;display:block;}

/* Media Queries */

@media (max-width: 768px) {
	.nav li a {text-align: center;}
	.affix {
        position: static;
    }
}

@media (min-width: 200px) {
	/*#sidebar-affix {
		position:fixed;
		top:70px;
	}*/
}

@media (max-width: 600px) {
	.event-details-btn {
		display:none;
	}
}

/* DOM styling */

input, button, .btn {
	outline: 0 !important;
}

button, label {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

/* Navbar CSS */

.navbar-brand {
	font-size:40px;
/*	margin-top:5px;
*/}

.navbar-default {
	background-color: rgb(248,201,104);
	border: none;
	border-radius: 0;
	color:white;
	top:0;
	position:fixed;
	z-index:100;
	width:100%;
	border-bottom:1px solid orange;
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.nav li a {
	padding-top:6px;
	padding-bottom:6px;
	margin:10px;
}

/* Footer Nav */

.footerNav {
	color:white;
	padding:3px 0px;
	min-height:0px;
	background-color:gray;
}
.footerNav a {
	color:white;
}

.footerContainer {
	margin:0 10px;
}

/* DOM Styling */

body {
	background-color: rgb(252,252,252);
	padding:70px 0 20px 0;
}

.jumbotron {
	background: none;
}

.event-icon {
	max-width:100px;
	border-radius:50%;
}

.datetimepicker {
	min-width: 200px;
}

.headNum {
	font-size: 100px;
	font-family: "lobster";
}

.headText {
	line-height: 100px;
	font-size: 50px;
	vertical-align: top;
	font-family: "bebas";
}

.instructions {
	font-size:20px;
}

.instructions h2 {
	color:orange;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}





