{% extends "main.html" %}
{% set pageTitle = "Drive Match | My Account" %}
{% set pageDescription = "View account details" %}

{% block content %}

<!-- Page Content -->

<div class="row">

<div class="sidebar col-lg-3" id="sidebar-affix">
<h2>Welcome,<br>{ User Name }</h2>
Change some shit.
</div>

<div class="event-wrap col-lg-8 col-lg-offset-4">
<h1>My Events</h1>

<div class="media well">
  <a class="pull-left" href="#">
    <img class="media-object event-icon" src="assets/images/car.png" alt="eventType">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{ Event Title }</h4>
    You participated in a ride share to <b>{ Event Location }</b> on <b>{ Event Date }</b>.
    <br><br>
    <div class="btn-group">
  		<button type="button" class="btn btn-default">Change My Info</button>
  		<button type="button" class="btn btn-default">Leave Event</button>
	</div>
	<button type="button" class="btn btn-default pull-right">View Details</button>
  </div>
</div>

<div class="media well">
  <a class="pull-left" href="#">
    <img class="media-object event-icon" src="assets/images/create.png" alt="eventType">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{ Event Title }</h4>
    You created a ride share to <b>{ Event Location }</b> on <b>{ Event Date }</b>.
    <br><br>
    <div class="btn-group">
  		<button type="button" class="btn btn-default">Edit Event</button>
  		<button type="button" class="btn btn-default">Cancel Event</button>
	</div>
	<button type="button" class="btn btn-default pull-right">View Details</button>
  </div>
</div>

<div class="media well">
  <a class="pull-left" href="#">
    <img class="media-object event-icon" src="assets/images/create.png" alt="eventType">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{ Event Title }</h4>
    You created a ride share to <b>{ Event Location }</b> on <b>{ Event Date }</b>.
    <br><br>
    <div class="btn-group">
  		<button type="button" class="btn btn-default">Edit Event</button>
  		<button type="button" class="btn btn-default">Cancel Event</button>
	</div>
	<button type="button" class="btn btn-default pull-right">View Details</button>
  </div>
</div>

<div class="media well">
  <a class="pull-left" href="#">
    <img class="media-object event-icon" src="assets/images/create.png" alt="eventType">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{ Event Title }</h4>
    You created a ride share to <b>{ Event Location }</b> on <b>{ Event Date }</b>.
    <br><br>
    <div class="btn-group">
  		<button type="button" class="btn btn-default">Edit Event</button>
  		<button type="button" class="btn btn-default">Cancel Event</button>
	</div>
	<button type="button" class="btn btn-default pull-right">View Details</button>
  </div>
</div>
</div>

</div> <!-- /row -->

{% endblock %}

{% block foot %}

<!-- Insert page-specific JavaScript here -->

{% endblock %}