{% extends "main.html" %}
{% set pageTitle = "Drive Match | Sign Up" %}
{% set pageDescription = "Sign up for Drive Match" %}

{% block content %}

<!-- Page Content -->

<div role="form" class="form-horizontal">
  {% if not signedIn %}
  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
  </div>
  {% endif %}
  <div class="form-group">
    <label for="eventName">Event Name</label>
    <input type="text" class="form-control" id="eventName" placeholder="Event Name">
  </div>
  <div class="form-group">
    <label for="eventLocation">Event Location</label>
    <input type="text" class="form-control" id="eventLocation" placeholder="Event Location">
  </div>
  <div class="form-group">
    <div class="form-inline">
      <label for="eventDepartureTime">Event Departure Time</label>
      <input type="text" class="datetimepicker" id="eventDepartureTime" placeholder="Event Departure Time">

      <label for="eventReturnTime">Event Return Time</label>
      <input type="text" class="datetimepicker" id="eventReturnTime" placeholder="Event Return Time">
    </div>
  </div>
  <div class="form-group">
    <label for="departureLocation">Departure Location</label>
    <input type="text" class="form-control" id="departureLocation" placeholder="Departure Location">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Import Contacts</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Accepts contacts in .csv format</p>
  </div>
  <div class="form-group">
    <label for="guestList">Guest List</label>
    <input type="text" class="form-control" id="guestList" placeholder="Guest List">
  </div>
  <button type="submit" id="createSubmitButton" class="btn btn-default">Submit</button>
</div>

{% endblock %}

{% block foot %}

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.css">
<script type="text/javascript" src="assets/scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="assets/scripts/create.js"></script>

{% endblock %}