{% extends "main.html" %}
{% set pageTitle = "Drive Match | Sign Up" %}
{% set pageDescription = "Sign up for Drive Match" %}

{% block content %}

<!-- Page Content -->

<h1 class="lobster" style="font-size:60px;text-align:center;">Create an Event</h1>

<div role="form" class="" style="margin: 0 auto;max-width:700px;">
  <hr>
  {% if not signedIn %}
  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
  </div>
  {% endif %}
  <div class="form-group">
    <label for="eventName">What would you like to call your event?</label>
    <input type="text" class="form-control" id="eventName" placeholder="Event Name">
  </div>
  <div class="form-group">
    <label for="eventLocation">Where are you leaving from?</label>
    <input type="text" class="form-control" id="departureLocation" placeholder="Meeting Location">
  </div>
  <div class="form-group">
    <label for="departureLocation">Where are you headed?</label>
    <input type="text" class="form-control" id="eventLocation" placeholder="Destination">
  </div>
  <div class="form-group">
    <div class="form-inline">
      <label for="eventDepartureTime">Departure Date & Time:</label>
      <input type="text" class="datetimepicker form-control" id="eventDepartureTime" placeholder="Departure Date">
      <br><br>
      <div class="form-inline">
      <label for="eventReturnTime">Return Date & Time:</label>
      <input type="text" class="datetimepicker form-control" id="eventReturnTime" placeholder="Return Date">
    </div>
    </div>
  </div>

  <hr>

  <h3>Invite Friends <small>(optional)</small></h3>
  
  <div class="form-group">
    <label for="contactFileInput">Import Contacts</label>
    <input type="file" id="contactFileInput">
    <p class="help-block">Accepts contacts in .csv format</p>

    <div id="upload-progress" style="width:50%;margin:0 auto;">
    <h4>Analyzing your contacts...</h4>
    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%">
        <span class="sr-only">45% Complete</span>
      </div>
    </div>
    </div>
    </div>

  <div class="form-group">



    <div id="guestTable">
      <div id="tableWrapper">
      <table id="dataTable" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      </div>
    </div>




    <br>
    <button type="submit" id="createSubmitButton" class="btn btn-default pull-right">Submit</button>
  </div>
  <br>
</div>
<br><br>

{% endblock %}

{% block foot %}

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIcegcv4OBQriW7IdBmaZkFtW7BG3utfA&sensor=true&libraries=places,visualization"></script>
<script type="text/javascript" src="assets/scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="assets/scripts/jquery.csv-0.71.min.js"></script>
<script type="text/javascript" src="assets/scripts/create.js"></script>

{% endblock %}
