{% extends "main.html" %}
{% set pageTitle = "Drive Match | Sign Up" %}
{% set pageDescription = "Sign up for Drive Match" %}

{% block content %}

<!-- Page Content -->

<div class="jumbotron center">
  <h1 class="lobster">Welcome to Drive Match</h1>
  <p>Create a private network of friends and coordinate rides.</p>
  <p><a class="btn btn-info btn-lg" href="/create" role="button">Create event!</a></p>
</div>

<hr>

<div class="row instructions">

<div class="col-sm-4 center">
<h2 class="headText">Step <span class="headNum">1</span></h2>
Create an event.
</div>


<div class="col-sm-4 center">
<h2 class="headText">Step <span class="headNum">2</span></h2>
Invite others.
</div>


<div class="col-sm-4 center">
<h2 class="headText">Step <span class="headNum">3</span></h2>
Show up!
</div>

</div>

{% endblock %}

{% block foot %}

<!-- Insert page-specific JavaScript here -->

{% endblock %}