{% extends "main.html" %}
{% set pageTitle = "Drive Match | Sign Up" %}
{% set pageDescription = "Sign up for Drive Match" %}

{% block content %}

<!-- Page Content -->

<div class="jumbotron center">
  <h1 class="lobster">Welcome to Drive Match</h1>
  <p>Create a private network of friends and coordinate rides.</p>
  <p><a class="btn btn-default btn-lg" style="background-color:rgba(105,210,231,0.4);" href="/create" role="button">Create an Event!</a></p>
</div>

<hr>

<div class="row instructions">

<div class="col-sm-3 center">
<h2 class="headText">Step <span class="headNum">1</span></h2>
<h1>Create Event</h1>
</div>

<div class="col-sm-1 center">
	<i class="glyphicon glyphicon-arrow-right" style="font-size:90px;line-height:200px;vertical-align:bottom;"></i>
</div>

<div class="col-sm-4 center">
<h2 class="headText">Step <span class="headNum">2</span></h2>
<h1>Invite Others</h1>
</div>

<div class="col-sm-1 center">
	<i class="glyphicon glyphicon-arrow-right" style="font-size:90px;line-height:200px;vertical-align:bottom;"></i>
</div>

<div class="col-sm-3 center">
<h2 class="headText">Step <span class="headNum">3</span></h2>
<h1>Show Up!</h1>
</div>

</div>

{% endblock %}

{% block foot %}

<!-- Insert page-specific JavaScript here -->

{% endblock %}