{% extends "main.html" %}
{% set pageTitle = "Drive Match | Sign Up" %}
{% set pageDescription = "Sign up for Drive Match" %}

{% block content %}

<!-- Page Content -->

<div class="jumbotron">
  <h1 class="lobster">Welcome to Drive Match</h1>
  <p>Create a private network of friends and coordinate rides.</p>
  <p><a class="btn btn-primary btn-lg" href="/create" role="button">Sign up!</a></p>
</div>

{% endblock %}

{% block foot %}

<!-- Insert page-specific JavaScript here -->

{% endblock %}