<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="Find a ride or share your own!">
<title>{{pageTitle}}</title>
<link href="assets/css/fontello.css" rel="stylesheet" type="text/css">
<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="assets/css/style.css" rel="stylesheet" type="text/css">
<script src="assets/scripts/jquery-1.11.0.min.js"></script>
<script src="assets/scripts/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="assets/scripts/bootstrap.min.js"></script>
</head>
<body>

<header>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand bebasThin" href="/">Drive <span class="lobster">Match</span><!-- <small style="font-family:'Garamond','Bebas';font-size:40px;">r</small> --></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-form navbar-right">
        {% if signedIn %}
        <a href="{{ loginUrl }}" class="btn btn-default">Logout</a>
        {% else %}
        <a href="{{ loginUrl }}" class="btn btn-default">Login</a>
        {% endif %}
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/account">My Account</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>

<div class="container">

{% block content %} {% endblock %}

</div>

<footer>
<nav class="navbar navbar-fixed-bottom footerNav" role="navigation">
  <div class="footerContainer">
    &copy 2014 Drive Match<span class="pull-right"><a href="mailto:info@drivematchr.com">info@drivematchr.com</a></span>
  </div>
</nav>
</footer>

{% block foot %} {% endblock %}

</body></html>
