{% extends "main.html" %}
{% set pageTitle = "Drive Match | Sign Up" %}
{% set pageDescription = "Sign up for Event" %}

{% block content %}

<!-- Page Content -->
	<h1 class="big-header">{{ EventName.title() }} Sign Up</h1>

<div role="form" class="" style="margin: 0 auto;max-width:700px;">
  <hr>
  <p>You are invited to join the car pool hosted by {{ HostName }}. Please fill out your information below to join the car pool!</p>

  <!-- <br>

  <img class="car-icon" src="assets/images/car_icon.png" alt="car">

  <br><br> -->

  <p>We will leave from <b>{{ Origin }}</b> on <b>{{ DepartureDate.date() }}</b> at <b>{{ DepartureDate.time() }}</b>.
  <br>
  We will return from <b>{{ Destination }}</b> on <b>{{ ReturnDate.date() }}</b> at <b>{{ ReturnDate.time() }}</b>.</p>
  <p>To invite others to join, send them this public link:<br><br>

  <input id="urlLink" class="form-control" type="text" value="" onclick="this.select()" style="width:100%;cursor:default;background-color:white;" readonly>

</p>
  <hr>
    <h4>Transportation</h4>
  	<div class="radio">
		<label><input type="radio" name="canDrive" id="canDrive" value=true checked>I can drive.</label>
	</div>
	<div class="radio">
	  	<label><input type="radio" name="canDrive" id="isPassenger" value=false checked>I will need a ride.</label>
	</div>

	<div id="canDriveInfo">
		<div class="form-group">
	    	<label for="totalSeats">Total Seats</label>
	    	<input type="number" class="form-control" id="totalSeats" placeholder="Enter total seats" value="" min="1" max="30" step="1">
  		</div>
		<div class="form-group">
	    	<label for="seatsAvailable">Seats Available</label>
	    	<input type="number" class="form-control" id="seatsAvailable" placeholder="Enter seats available" value="" min="0" max="30" step="1">
  		</div>
  		<div class="form-group">
	    	<label for="gasMileage">Gas Mileage</label>
	    	<input type="number" class="form-control" id="gasMileage" placeholder="Enter gas mileage" value="" min="1" max="300" step="1">
  		</div>
	</div>

  	{% if not signedIn %}
  	<div class="form-group">
    	<label for="nameInput">Name</label>
    	<input type="text" class="form-control" id="nameInput" placeholder="Enter name">
  	</div>
  	<div class="form-group">
    	<label for="emailInput">Email address</label>
    	<input type="email" class="form-control" id="emailInput" placeholder="Enter email">
  	</div>
  	{% endif %}

  	<div class="form-group">
    	<button type="submit" id="createSubmitButton" class="btn btn-default pull-right">Submit</button>
  	</div>
  	<br>
  	<div id="successAlert" style="display:none;"><br><br>
  	<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Thank You!</strong> You have been added to the ride share.
</div></div>
</div>
<br><br>
<!-- THEse are some changes -->

{% endblock %}

{% block foot %}

<script type="text/javascript" src="assets/scripts/signup.js"></script>

<script type="text/javascript">

$( document ).ready(function() {
  var myLink = document.URL;
  $('#urlLink').val(myLink);
  
  // setTimeout(function () {
  //   $('.car-icon').css("left", "85%");
  //   setTimeout(function () {
  //     $('.car-icon').css("left", "0px");
  //   }, 5000);
  // }, 2000);
});

</script>

{% endblock %}
